@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300&family=Yeon+Sung&display=swap');

@font-face {
    font-family: 'ONE-Mobile-Title';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/ONE-Mobile-Title.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ONE-Mobile-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/ONE-Mobile-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'InkLipquid';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/InkLipquid.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}



* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 18px;
    color: #2B2B2B;
    font-weight: 600;
}

ol,
ul {
    list-style: none;
}

a {
    color: #2B2B2B;
    text-decoration: none;
}


/*<!--header------------------->*/

#header {
    width: 68.75%;
    height: 90px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.logo {
    width: 15%;
    text-align: left;
    margin-top: 20px;
}

.pc_gnb {
    padding-top: 32px;
}

.pc_gnb li {
    float: left;
}

.pc_gnb li a {
    display: block;
    padding: 0 15px;
}

.pc_gnb>li>a {
    margin: 0 2vw;
    font-family: 'ONE-Mobile-Title';
}

.pc_gnb>li>a:hover {
    color: #194597;
}

.fix_bt {
    position: absolute;
    bottom: 5%;
    right: 5%;
    z-index: 20;
    text-align: center;
    position: fixed;
}

.fix_bt li {
    padding-bottom: 10px;
}

.fix_bt li a {
    display: block;
    border-radius: 50px;
    width: 75px;
    height: 75px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.192);
    font-family: 'ONE-Mobile-Regular';
}

.fix_bt li:nth-child(1) a {
    background-color: #003170;
    color: #fff;
    line-height: 18px;
}

.fix_bt li:nth-child(2) a {
    background-color: #fff;
}

.fix_bt li:nth-child(2) a b {
    font-size: 14px;
    line-height: 14px;
}


/*<!--main-->*/

#main {
    position: relative;
    text-align: center;
    width: 100%;
    margin-bottom: 150px;
}


#main .main_img>video {
    display: block;
    width: 100%;
}

#main .text_box {
    display: none;
    /*수정----------------------*/
    width: 300px;
    height: 95px;
    background-color: #003170;
    font-size: 12px;
    font-weight: lighter;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -85px 0 0 -150px;
    text-align: center;
    box-sizing: border-box;
    padding: 12px;
}

#main .text_box h1 {
    font-size: 32px;
    font-weight: 900;
}

#main .image_box {
    position: absolute;
    bottom: -6%;
    right: 0;
    z-index: 10;
}



/*<!--section1-->*/


#section1 {
    width: 68.75%;
    margin: 0 auto;
    background-image: url(../images/se1_bg.png);
    background-repeat: no-repeat;
    background-position: left 6vw top 0;
    padding-top: 50px;
}

#section1 .list {
    display: flex;
    justify-content: space-between;
}

#section1 .list li {
    width: 24.25%;
}

#section1 .list li img {
    display: block;
    width: 100%;
}

#section1 .list li:nth-child(1) img {
    width: 27px;
    display: inline-block;
}

#section1 .list li:nth-child(1) form {
    width: 60%;
    margin: 10px 0 0;
    border-bottom: 1px solid #003170;
}

#section1 .list li:nth-child(1) form input {
    border: none;
    font-size: 18px;
    width: 80%;
    padding-top: 10px;
    outline: none;
}


#section1 .list li:nth-child(4) {
    background-image: url(../images/se1_bg2.png);
    background-repeat: no-repeat;
    background-position: bottom right;
}

.section .bt {
    display: inline-block;
    border: #003170 1px solid;
    padding: 7px 40px 10px;
    color: #003170;
    margin-top: 15px;
}


.section .suj {
    font-family: 'Segoe UI';
    font-size: 56px;
    line-height: 53px;
    font-weight: 600;
    color: #0A3173;
    padding-bottom: 15px;
}

.section .italic {
    font-family: 'Segoe UI';
    font-size: 33px;
    font-weight: 700;
    color: #2B2B2B;
    font-style: italic;
    padding-bottom: 10px;
}



/*<!--section2-->*/

#section2 {
    margin: 200px 0;
    overflow: hidden;
    border-radius: 0 50px 50px 0;
    background-color: #003170;
    width: 84.375%;
}

#section2 .canter {
    width: 81.48%;
    float: right;
    display: flex;
    justify-content: space-between;
    padding: 3vw 0;

}

#section2 .topic_img {
    width: 50%;
    position: relative;
}

#section2 .topic_img img {
    display: block;
    width: 100%;
}


#section2 .image_box {
    position: absolute;
    bottom: -5%;
    right: -6%;
    z-index: 10;
}

#section2 .text {
    width: 50%;
    color: #fff;
    box-sizing: border-box;
    padding: 0px 3vw;
}

#section2 .text .suj {
    color: #fff;
    font-weight: 600;
}

#section2 .text .italic {
    color: #fff;
    font-weight: 600;
}

#section2 .text p {
    font-weight: 400;
}

#section2 .text .bt {
    border: #ffffff 1px solid;
    color: #ffffff;
}


.ink {
    font-family: 'InkLipquid';
    font-size: 30px;
    padding: 0px 0 5px;
}



/*<!--section3-->*/


#section3 {
    width: 100%;
    overflow: hidden;

}


#section3 .text {
    width: 100%;
    color: #003170;
    text-align: center;
    padding: 20px 0 80px;
    background-image: url(../images/line.png);
    background-position: center top;
    background-repeat: no-repeat;

}

#section3 .text b:nth-child(1) {
    font-family: 'Segoe UI';
    font-style: italic;
    font-size: 41px;
    background-color: #003170;
    border-radius: 50px;
    width: 102px;
    height: 102px;
    display: inline-block;
    text-align: center;
    line-height: 90px;
    border: 1px solid #fff;
    color: #fff;
}

#section3 .text b:nth-child(2) {
    font-size: 45px;
    font-family: 'Segoe UI';
    font-weight: 400;
    padding: 0 10px;
}

#section3 .bold_t {display: inline-block; font-size: 25px; font-weight: bold;} 

#section3 .image_box {
text-align: center;
}


#section3 .center {
    width: 100%;
    margin: 0 auto;
    overflow: hidden;

}


#section3 .life_list {
    width: 68.75%;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    overflow: hidden;
    padding: 4vw 0 4vw;
    font-size: 15px;
}
    

#section3 .life_list li {border-top: 1px solid #2B2B2B; padding-top: 1vw;}

#section3 .life_list .italic {
    font-weight: 800;
    line-height: 33px;
}



#section3 .life_list .thin {
    font-weight: lighter;
}

#section3 .banner img {
    display: block;
    width: 100%;
}

/*<!--section4------------------------->*/


#section4 {
    width: 100%;
    color: #fff;
}

#section4 em {
    font-family: 'InkLipquid';
    text-decoration: underline 0.5px;
    font-size: 20px;
    font-weight: lighter;
    color: #fff;
    display: inline-block;
    padding: 20px 5px 10px 0;
    line-height: 20px;
}
.banner .italic {color: #fff;}

.banner {
    width: 100%;
    box-sizing: border-box;
    background-repeat: no-repeat;
    overflow: hidden;
    background-position: center;
}
#section4 .center {width: 68.75%; margin: 0 auto;}
#section4 .text {float: right; padding: 150px 100px 150px 0; }

.banner:nth-child(1) {
    background-image: url(../images/bn1.png);
}

.banner:nth-child(2) {
    background-image: url(../images/bn2.png);
}

.banner:nth-child(3) {
    background-image: url(../images/bn3.png);
}



/*<!--footer-->*/

#footer {
    width: 68.75%;
    margin: 0 auto;
    height: 300px;
}

#footer h1 {
    padding-top: 70px;
}

#footer ul {
    float: left;
    font-size: 13px;
    font-weight: 400;
    color: #616161;
}

#footer ul li {
    float: left;
    padding: 40px 4vw 0 0;
}

#footer .image_box {
    float: right;
    padding-right: 80px;
}

#footer ul li b {
    font-weight: 900;
}

#footer ul li .copy {
    padding: 25px 0 70px;
}