@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&family=Yeon+Sung&display=swap');

@font-face {
    font-family: 'ONE-Mobile-Title';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/ONE-Mobile-Title.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ONE-Mobile-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/ONE-Mobile-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'InkLipquid';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/InkLipquid.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}





* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 18px;
    color: #303030;
    font-weight: 300;
}

ol,
ul {
    list-style: none;
}

a {
    color: #303030;
    text-decoration: none;
}





/*<!--header---------------------------------------------->*/

#header {
    width: 68.75%;
    height: 80px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.logo {
    width: 15%;
    text-align: left;
    margin-top: 15px;
}

.logo_mo {display: none;
    margin-top: 15px;}

.pc_gnb {
    padding-top: 30px;
}

.pc_gnb li {
    float: left;
}

.pc_gnb li a {
    display: block;
    padding: 0 15px;
}

.pc_gnb>li>a {
    margin: 0 2vw;
    font-family: 'ONE-Mobile-Title';
    font-size: 18px;
}

.pc_gnb>li>a:hover {
    color: #194597;
}





/*fix bt--------------------*/


.fix_bt {
    position: absolute;
    bottom: 5%;
    right: 5%;
    z-index: 20;
    text-align: center;
    position: fixed;
}

.fix_bt li {
    padding-bottom: 10px;
}

.fix_bt li a {
    display: block;
    border-radius: 50px;
    width: 75px;
    height: 75px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.192);
    font-family: 'ONE-Mobile-Regular';
}

.fix_bt li:nth-child(1) a {
    background-color: #003170;
    color: #fff;
    line-height: 18px;
}

.fix_bt li:nth-child(2) a {
    background-color: #fff;
}

.fix_bt li:nth-child(2) a b {
    font-size: 14px;
    line-height: 14px;
}


/*mo_menu---------------------------------------*/

.menu_btn {
    text-align: right;
    padding: 20px 10px 10px 10px;
    display: none;
}

.menu_bg {
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.493);
    position: absolute;
    top: 0;
    display: none;
    z-index: 15;
    position: fixed;
}

.sidebar_menu {
    display: none;
    width: 70%;
    height: 100%;
    background-color: #003170;
    position: absolute;
    top: 0;
    right: -100%;
    z-index: 20;
    position: fixed;

}

.close_btn {
    width: 24px;
    height: 24px;
    margin: 20px;
    float: right;
}

.close_btn>a {
    display: block;
    width: 100%;
    height: 100%;
}

.menu_wrap {
    list-style: none;
    padding: 100px 50px 20px;
}

.menu_wrap li a {
    display: inline-block;
    color: #fff;
    text-decoration: none;
    padding: 20px 0;
}


@media (max-width:1600px) {
    #header {
        width: 90%;
    }
}


@media (max-width:1200px) {
    .pc_gnb>li>a {
        margin: 0 1.5vw;
    }
}



@media (max-width:800px) {
    .pc_gnb {
        display: none;
    }

    .fix_bt {
        display: none;
    }

    .menu_btn {
        display: block;
    }

    #header {
        height: 65px;
    }

    .logo { display: none;}
    .logo_mo {display: block;}

    .logo img {
        width: 120px;
    }

}




/*section 공통*/
.suj {
    font-size: 48px;
    line-height: 60px;
    font-weight: 900;
    color: #003170;
    padding: 0 0 10 0px;
}

.italic {
    font-family: 'Segoe UI';
    font-size: 28px;
    font-weight: 700;
    color: #303030;
    font-style: italic;
    padding: 10px 0;
}

.ink {
    font-family: 'InkLipquid';
    font-size: 32px;
    padding: 10px 0;
}

.bt {
    font-weight: 400;
    font-size: 16px;
}





/*<!--main----------------------------------------------->*/

#main {
    position: relative;
    text-align: center;
    width: 100%;
    margin-bottom: 150px;
}


#main .main_vd1920>video,
#main .main_vd1000>video,
#main .main_vd640>video {
    display: block;
    width: 100%;
}

#main .main_vd640 {
    display: none;
}

#main .main_vd1000 {
    display: none;
}



#main .image_box {
    position: absolute;
    bottom: -6%;
    right: 0;
    z-index: 10;
}

@media (max-width:1700px) {
    #main .image_box img {
        width: 90%;
        float: right;
    }

    #main .image_box {
        bottom: -15%;
    }
}


@media (max-width:1400px) {
    #main .image_box img {
        width: 80%;
        float: right;
    }

    #main .image_box {
        bottom: -20%;
    }
}

@media (max-width:1200px) {
    #main .image_box img {
        width: 70%;
        float: right;
    }

    #main .image_box {
        bottom: -28%;
    }
}

@media (max-width:1000px) {
    #main .main_vd1920 {
        display: none;
    }

    #main .main_vd1000 {
        display: block;
    }

    #main .image_box img {
        width: 90%;
        float: right;
    }

    #main .image_box {
        bottom: -25%;
    }

    #main {
        margin-bottom: 250px;
    }

}

@media (max-width:800px) {
    #main .image_box img {
        width: 85%;
        float: right;
    }

    #main .image_box {
        bottom: -30%;
    }


}


@media (max-width:640px) {

    #main .image_box img {
        width: 80%;
        float: right;
    }

    #main .image_box {
        bottom: -20%;
    }

    #main {
        margin-bottom: 300px;
    }

    #main .main_vd1000 {
        display: none;
    }

    #main .main_vd640 {
        display: block;
    }

    #main {
        margin-bottom: 150px;
    }



}





/*<!--section1---------------------------------------------------------->*/


#section1 {
    width: 68.75%;
    margin: 0 auto;
}

#section1 .list {
    display: flex;
    justify-content: space-between;
}

#section1 .se1_img {
    position: absolute;
    top: -15%;
    left: 40%;
    z-index: 10;
}

#section1 .se1_img img {
    display: block;
}


#section1 .se1_text {
    position: relative;
    width: 25%;
}

#section1 .list .slide_list {
    width: 75%;
    padding-top: 3%;
}

#section1 .list .se1_text form img {
    width: 27px;
    display: inline-block;
}

#section1 .list .se1_text form {
    width: 60%;
    margin: 10px 0 0;
    border-bottom: 1px solid #003170;
}

#section1 .list .se1_text form input {
    border: none;
    font-size: 18px;
    width: 80%;
    padding-top: 10px;
    outline: none;
}

#section1 .list {
    background-image: url(../images/se1_bg2.png);
    background-repeat: no-repeat;
    background-position: bottom right;
}

.section .bt {
    display: inline-block;
    border: #003170 1px solid;
    padding: 7px 40px 10px;
    color: #003170;
    margin-top: 15px;
}


#section1 .list li {
    width: 40%;
}

#section1 .list li {
    padding-top: 30px;
    box-sizing: border-box;
}

#section1 .list li:nth-child(1) {
    padding-left: 5%;
    padding-top: 0;

}

#section1 .suj {
    padding: 50px 0 5px;
}

#section1 .italic {
    font-size: 25px;
    padding: 0 0 5px 0;
}

#section1 .se1_text form {
    width: 65%;
}


/*se1_.slider----------------------------------------------------------------*/
#section1 .slider {
    width: 100%;
    margin: 0px auto;
}


#section1 .slick-slide {
    margin: 0px 20px;
}

#section1 .gallery {
    width: 100%;
    margin: 0 1%;
    text-align: center;
    padding: 20px 0 10px;
    margin: 0 auto;
}

#section1 .gallery img {
    width: 100%;
    display: inline-block;
    margin: 0 auto;
}


#section1 .slick-prev:before,
#section1 .slick-next:before {
    color: black;
}


#section1 .slick-slide {
    transition: all ease-in-out .3s;
    opacity: 1;
}

#section1 .slick-active {
    opacity: 1;
}

#section1 .slick-current {
    opacity: 1;
}


@media (max-width:1600px) {
    #section1 {
        width: 80%;
    }

    #section1 .list .slide_list {
        padding-top: 6%;
    }
}


@media (max-width:1400px) {
    #section1 {
        width: 80%;
    }

    #section1 .list .slide_list {
        padding-top: 10%;
    }

    #section1 .list .se1_text form {
        width: 80%;
    }

}

@media (max-width:1200px) {
    #section1 {
        width: 90%;
    }

    #section1 .list {
        flex-wrap: wrap;
    }

    #section1 .se1_text {
        width: 60%;
        padding-left: 5vw;
    }

    #section1 .list .slide_list {
        width: 100%;
        padding-top: 5%;
    }
    #section1 .list .se1_text form {
        width: 60%;
    }
    #section1 .list .se1_text form input {
        width: 85%;
        font-size: 20px;
    }
}





@media (max-width:800px) {


    #section1 .list {
        width: 100%;
    }


    #section1 .se1_text {
        padding-bottom: 8%;
    }


    #section1 .list .se1_text form {
        width: 70%;
    }

    #section1 .list .se1_text form input {
        width: 85%;
        font-size: 20px;
    }



}

@media (max-width:650px) {
    #section1 .list .se1_text form input {
        width: 85%;
    }

    #section1 .gallery img {
        width: 280px;
    }

    #section1 {
        width: 100%;
    }

    #section1 .se1_text {
        width: 80%;
        margin: 0 auto;
    }

    #section1 .list {
        background-position: bottom right 15%;
    }
}




/*<!--section2-------------------------------->*/

#section2 {
    margin: 150px 0 150px;
    overflow: hidden;
    border-radius: 0 50px 50px 0;
    background-color: #21376C;
    width: 84.375%;
    display: flex;
    justify-content: right;
}

#section2 .canter {
    width: 81.48%;
    display: flex;
    justify-content: space-between;
    padding: 3vw 0;

}

#section2 .topic_img {
    width: 50%;
    position: relative;
}

#section2 .topic_img img {
    display: block;
    width: 100%;
}


#section2 .image_box {
    position: absolute;
    bottom: -5%;
    right: -6%;
    z-index: 10;
}

#section2 .text {
    width: 50%;
    color: #fff;
    box-sizing: border-box;
    padding: 0px 4vw;
}

#section2 .text .suj {
    color: #fff;
    font-weight: 600;
}

#section2 .text .italic {
    color: #6986BB;
    padding: 0 0 15px 0;
}

#section2 .text .ink {
    padding: 1.7vw 0;
}

#section2 .text .se2_p,
#section2 .text .se2_pm {
    padding-bottom: 15px;
}

#section2 .text .se2_pm {display: none;}

#section2 .text .bt {
    border: #ffffff 1px solid;
    color: #ffffff;
}





@media (max-width:1600px) {
    #section2 {
        width: 90%;
    }

    #section2 .canter {
        width: 95%;
    }

}



@media (max-width:1200px) {
    #section2 {
        width: 90%;
        justify-content: center;
    }

    #section2 .canter {
        width: 95%;
        flex-wrap: wrap;
        justify-content: center;
    }

    #section2 .topic_img {
        width: 80%;
        padding-top: 5vw;
    }

    #section2 .text {
        width: 80%;
        padding: 3vw 0;
    }

    #section2 .suj {}

    #section2 .italic {}


}


@media (max-width:700px) {
    #section2 .image_box img {
        width: 80%;
        float: right;
    }

    #section2 .ink {
        font-size: 28px;
    }
}

@media (max-width:600px) {
    #section2 {
        width: 100%;
        justify-content: center;
        padding: 10px 0 15px;
    }

    #section2 .center {
        width: 100%;
    }

    #section2 .topic_img {
        width: 85%;
        padding-top: 5vw;
    }

    #section2 .text {
        width: 85%;
        padding: 3vw 0;
    }

    #section2 .ink {
        font-size: 24px;
    }

    #section2 .text .se2_p {display: none;
}

#section2 .text .se2_pm {display: block;}

}


/*<!--section3------------------------------------->*/


#section3 {
    width: 100%;
    overflow: hidden;
    margin: 50px auto;
    background-image: url(../images/dashline_t.png);
    background-repeat: no-repeat;
    background-position: bottom center;

}

#section3 .center {
    width: 68.75%;
    margin: 0 auto;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
}

#section3 .text {
    color: #003170;
    text-align: center;
    padding: 0 0 90px;
    margin: 0 auto;

}

#section3 .text .italic {
    font-family: 'Segoe UI';
    font-style: italic;
    background-color: #003170;
    border-radius: 50px;
    width: 90px;
    height: 90px;
    display: inline-block;
    text-align: center;
    line-height: 80px;
    border: 1px solid #fff;
    color: #fff;
    padding: 0;
    font-size: 40px;

}

#section3 .text .suj {
    padding: 0 10px;
    
}

#section3 .image_box {
    text-align: center;
}

#section3 .life_list {
    width: 50%;
    margin: 0 right;
    overflow: hidden;
    padding: 50px 0 200px;

}


#section3 .life_list li {
    padding: 30px 0;
    width: 65%
}


#section3 .life_list li:nth-child(2) {
    clear: both;
    margin: 0 auto;
}



#section3 .life_list .italic {
    width: 200px;
    text-align: center;
    border-radius: 50px;
    padding: 2px 0px 5px;
    margin-bottom: 10px;
    font-size: 20px;
}


#section3 p b {
    font-weight: 400;
}

#section3 .life_list li:nth-child(1) .italic {
    background-color: #FF9F00;
}

#section3 .life_list li:nth-child(2) .italic {
    background-color: #E82425;
}

#section3 .life_list li:nth-child(3) .italic {
    background-color: #299159;
}





@media (max-width:1600px) {
    #section3 .center {
        width: 90%;
    }
    

}


@media (max-width:1200px) {
    #section3 .center {
        flex-wrap: wrap;
        justify-content: center;
    }

    #section3 .se3_left {
        width: 90%;
    }

    #section3 .life_list {
        width: 90%;
    }

}



@media (min-width:800px) {
    #section3 .life_list li:nth-child(1) {
        float: right;
    }
}

@media (max-width:800px) {

    #section3 .life_list li {
        padding-top: 2vw;
        margin: 0 auto;
        width: 95%;
    }


    #section3 .image_box img {
        width: 85%;
    }


    #section3 .text {
        padding: 0 0 40px;
    }

    #section3 .life_list li .italic {
        margin: 15px auto;
    }
}

@media (max-width:600px) {
    #section3 .life_list .italic {
        margin-right: 30px;
        margin-bottom: 10px;
    }
    #section3 .image_box img {
        width: 95%;
    }
    #section3 .life_list li {
        width: 78%;
    }


}


/*<!--section4----------------------------------------------------------->*/

#section4 {
    width: 100%;
    margin: 150px 0 100px;
}

#section4 .center {
    width: 68.75%;
    margin: 0px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    position: relative;
}


#section4 .center .banner1 {
    width: 41.6%;
    padding-bottom: 1.2vw;
}

#section4 .center .banner2 {
    width: 56.81%;
}

#section4 .center .banner3 {
    width: 56.81%;
}

#section4 .center .banner4 {
    width: 41.6%;
}


#section4 .center {
    width: 68.75%;
    margin: 0 auto;
}

#section4 .center img {
    display: block;
    width: 100%;
}

#section4 video {
    display: block;
    width: 100%;
}

.se_4text1 {
    position: absolute;
    top: 55px;
    left: -100px;
    z-index: 10;
    rotate: -90deg;
    font-size: 20px;
}

.se_4text3 {
    position: absolute;
    bottom: -40px;
    left: 0;
    z-index: 10;
    font-size: 20px;
}

.se_4text4 {
    position: absolute;
    bottom: 70px;
    right: -100px;
    z-index: 10;
    rotate: -90deg;
    font-size: 20px;
}


.bn_mo {
    display: none;
}


@media (max-width:1600px) {
    #section4 .center {
        width: 90%;
    }
}


@media (max-width:1200px) {
    #section4 {
        margin: 150px 0;
    }

}

@media (max-width:800px) {

    #section4 {
        margin: 100px 0 0px;
    }

    #section4 .center {
        width: 100%;
        justify-content: center;
    }

    #section4 .center .banner1 {
        width: 100%;
        padding-bottom: 0;
        display: none;
    }

    #section4 .center .banner2 {
        width: 100%;
        display: none;
    }

    #section4 .center .banner3 {
        width: 100%;
        display: none;
    }

    #section4 .center .banner4 {
        width: 100%;
        display: none;
    }

    .se_4text1,
    .se_4text3,
    .se_4text4 {
        display: none;
    }

    .bn_mo {
        display: block;
        width: 100%;
    }
}




/*main_se5_.slider----------------------------------------------------------------*/
#section5 {
    width: 100%;
    border-bottom: 1px solid #ddd;
    overflow: hidden;
}

#section5 .slider {
    width: 100%;
    margin: 5vw auto;
}


#section5 .slick-slide {
    margin: 0px 20px;
}

#section5 .gallery {
    width: 100%;
    margin: 0 1%;
    text-align: center;
    border-radius: 150px;
    padding: 20px 0 10px;
    margin: 0 auto;
}

#section5 .gallery img {
    width: 200px;
    display: inline-block;
    margin: 0 auto;
}


#section5 .slick-prev:before,
#section5 .slick-next:before {
    color: black;
}


#section5 .slick-slide {
    transition: all ease-in-out .3s;
    opacity: 1;
}

#section5 .slick-active {
    opacity: 1;
}

#section5 .slick-current {
    opacity: 1;
}


@media (max-width:1500px) {
    #section5 .gallery img {
        width: 100%;
    }

}


/*<!--footer-------------------------->*/

#footer {
    width: 68.75%;
    margin: 0 auto;
    height: 300px;

}

#footer h1 {
    padding-top: 50px;
}

#footer ul {
    float: left;
    font-size: 13px;
    font-weight: 400;
    color: #616161;
}

#footer ul li {
    float: left;
    padding: 40px 3vw 0 0;
}

#footer .image_box {
    float: right;
    padding-right: 30px;
}

#footer ul li b {
    font-weight: 900;
}

#footer ul li .copy {
    padding: 25px 0 70px;
}


.copy2 {
    display: none;
}

@media (max-width:1600px) {
    #footer {
        width: 90%;
    }
}


@media (max-width:1200px) {
    #footer .image_box {
        display: none;
    }
}

@media (max-width:800px) {
    #footer ul li {
        width: 100%;
        padding: 20px 3vw 0 0;
    }

    .copy1 {
        display: none;
    }

    .copy2 {
        display: block;
    }

    #footer {
        padding-bottom: 150px;
    }

    #footer h1 {
        padding-top: 40px;
    }
}

@media (max-width:400px) {}
