@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&family=Yeon+Sung&display=swap');

@font-face {
    font-family: 'ONE-Mobile-Title';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/ONE-Mobile-Title.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ONE-Mobile-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/ONE-Mobile-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'InkLipquid';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/InkLipquid.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}





* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 18px;
    color: #303030;
    font-weight: 300;
}

ol,
ul {
    list-style: none;
}

a {
    color: #303030;
    text-decoration: none;
}





/*<!--header---------------------------------------------->*/

#header {
    width: 68.75%;
    height: 80px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.logo {
    width: 15%;
    text-align: left;
    margin-top: 15px;
}

.logo_mo {display: none;
    margin-top: 15px;}

.pc_gnb {
    padding-top: 30px;
}

.pc_gnb li {
    float: left;
}

.pc_gnb li a {
    display: block;
    padding: 0 15px;
}

.pc_gnb>li>a {
    margin: 0 2vw;
    font-family: 'ONE-Mobile-Title';
    font-size: 18px;
}

.pc_gnb>li>a:hover {
    color: #194597;
}





/*fix bt--------------------*/


.fix_bt {
    position: absolute;
    bottom: 5%;
    right: 5%;
    z-index: 20;
    text-align: center;
    position: fixed;
}

.fix_bt li {
    padding-bottom: 10px;
}

.fix_bt li a {
    display: block;
    border-radius: 50px;
    width: 75px;
    height: 75px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.192);
    font-family: 'ONE-Mobile-Regular';
}

.fix_bt li:nth-child(1) a {
    background-color: #003170;
    color: #fff;
    line-height: 18px;
}

.fix_bt li:nth-child(2) a {
    background-color: #fff;
}

.fix_bt li:nth-child(2) a b {
    font-size: 14px;
    line-height: 14px;
}


/*mo_menu---------------------------------------*/

.menu_btn {
    text-align: right;
    padding: 20px 10px 10px 10px;
    display: none;
}

.menu_bg {
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.493);
    position: absolute;
    top: 0;
    display: none;
    z-index: 15;
    position: fixed;
}

.sidebar_menu {
    display: none;
    width: 70%;
    height: 100%;
    background-color: #003170;
    position: absolute;
    top: 0;
    right: -100%;
    z-index: 20;
    position: fixed;

}

.close_btn {
    width: 24px;
    height: 24px;
    margin: 20px;
    float: right;
}

.close_btn>a {
    display: block;
    width: 100%;
    height: 100%;
}

.menu_wrap {
    list-style: none;
    padding: 100px 50px 20px;
}

.menu_wrap li a {
    display: inline-block;
    color: #fff;
    text-decoration: none;
    padding: 20px 0;
}


@media (max-width:1600px) {
    #header {
        width: 90%;
    }
}


@media (max-width:1200px) {
    .pc_gnb>li>a {
        margin: 0 1.5vw;
    }
}



@media (max-width:800px) {
    .pc_gnb {
        display: none;
    }

    .fix_bt {
        display: none;
    }

    .menu_btn {
        display: block;
    }

    #header {
        height: 65px;
    }

    .logo { display: none;}
    .logo_mo {display: block;}

    .logo img {
        width: 120px;
    }

}




/*section 공통*/
.suj {
    font-size: 48px;
    line-height: 60px;
    font-weight: 900;
    color: #303030;
    padding: 0 0 10 0px;
}

.italic {
    font-family: 'Segoe UI';
    font-size: 28px;
    font-weight: 700;
    color: #303030;
    font-style: italic;
    padding: 10px 0;
}

.ink {
    font-family: 'InkLipquid';
    font-size: 32px;
    padding: 10px 0;
}

.bt {font-weight: 400; font-size: 16px;}







/*<!--main----------------------------------------------->*/

#main {
    position: relative;
    text-align: center;
    width: 100%;
    padding: 100px 0;
}


#main .vd_box video {display: inline-block;}


@media (max-width:1700px) {
    #main .image_box img {
        width: 90%;
        float: right;
    }

    #main .image_box {
        bottom: -15%;
    }
}


@media (max-width:1400px) {
    #main .image_box img {
        width: 80%;
        float: right;
    }

    #main .image_box {
        bottom: -20%;
    }
}

@media (max-width:1200px) {
    #main .image_box img {
        width: 70%;
        float: right;
    }

    #main .image_box {
        bottom: -28%;
    }
}

@media (max-width:1000px) {
    #main .main_vd1920 {
        display: none;
    }

    #main .main_vd1000 {
        display: block;
    }

    #main .image_box img {
        width: 100%;
        float: right;
    }

    #main .image_box {
        bottom: -25%;
    }

    #main {
        margin-bottom: 250px;
    }

}

@media (max-width:800px) {
    #main .vd_box video {display: block; width: 100%;}
    #main {padding: 0 0;
    }


}

@media (max-width:700px) {
    #main .image_box img {
        width: 80%;
        float: right;
    }

    #main .image_box {
        bottom: -60%;
    }

    #main {
        margin-bottom: 350px;
    }
}


@media (max-width:600px) {
    #main {
        margin-bottom: 300px;
    }
}

@media (max-width:500px) {
    #main {
        margin-bottom: 235px;
    }
}






/*<!--section1----------------------->*/


#section1 {
    width: 68.75%;
    margin: 0 auto;display: flex;
    justify-content: space-between;
    background-image: url(../images/sub1/line-right.png); background-repeat: no-repeat; background-position: top 25% right;
}



.section .suj {font-weight: 900; font-size: 48px; line-height: 70px; letter-spacing: 0px; padding-bottom: 75px;}


.se1_right p {padding-top: 40px;}

.pp {font-size: 20px; font-weight: 300;}

.pp b {font-weight: 700;}



/*<!--section2----------------------->*/


#section2 {width: 68.75%; margin: 150px auto; overflow: hidden;}

#section2 .se1_img {width: 100%; overflow: hidden; display: flex;
    justify-content: space-between;}

#section2 .se1_img img {
    display: block; width: 100%;
}


#section1 .list li:nth-child(4) {
    background-image: url(../images/se1_bg2.png);
    background-repeat: no-repeat;
    background-position: bottom right;
}

.section .bt {
    display: inline-block;
    border: #003170 1px solid;
    padding: 7px 40px 10px;
    color: #003170;
    margin-top: 15px;
}



.section .italic {
    font-family: 'Segoe UI';
    font-size: 33px;
    font-weight: 700;
    color: #2B2B2B;
    font-style: italic;
    padding-bottom: 10px;
}


@media (max-width:1600px) {
    #section1 {
        width: 90%;
    }
}


@media (max-width:1200px) {
    #section1 .list {
        flex-wrap: wrap;
        justify-content: space-evenly;
    }

    #section1 .list li {
        width: 40%;
    }

    #section1 .list li {
        padding-top: 30px;
        box-sizing: border-box;
    }

    #section1 .list li:nth-child(1) {
        padding-left: 5%;
        padding-top: 0;

    }

    #section1 .suj {
        padding-top: 50px;
        font-size: 50px;
        padding-bottom: 5px;
    }

    #section1 .italic {
        font-size: 25px;
        padding-bottom: 5px;
    }

    #section1 .list li:nth-child(1) form {
        width: 65%;
    }

}

@media (max-width:800px) {
    #section1 .list {
        justify-content: center;
    }

    #section1 .list li {
        width: 75%;
    }

    #section1 .list li:nth-child(1) {padding-bottom: 8%;
        width: 80%;}
    

    #section1 .list li:nth-child(1) form {
        width: 80%;
    }

    #section1 .list li:nth-child(1) form input {
        width: 90%;
        font-size: 20px;
    }

}

@media (max-width:600px) {
    #section1 .list li:nth-child(1) form input {
        width: 85%;
    }
}


/*<!--section2-------------------------------->*/




@media (max-width:1600px) {
    #section2 {
        width: 90%;
    }

    #section2 .canter {
        width: 95%;
    }

}



@media (max-width:1200px) {
    #section2 {
        width: 90%;
        justify-content: center;
    }

    #section2 .canter {
        width: 95%;
        flex-wrap: wrap;
        justify-content: center;
    }

    #section2 .topic_img {
        width: 80%;
        padding-top: 5vw;
    }

    #section2 .text {
        width: 80%;
        padding: 3vw 0;
    }

    #section2 .suj {
        font-size: 50px;
    }

    #section2 .italic {
        font-size: 25px;
    }

    .ink {
        font-size: 22px;
    }

}


@media (max-width:700px) {
    #section2 .image_box img {
        width: 80%;
        float: right;
    }
}

@media (max-width:600px) {
    #section2 {
        width: 100%; justify-content: center;
        padding: 10px 0 15px;
    }
    #section2 .center {
        width: 100%; 
    }

    #section2 .topic_img {
        width: 85%;
        padding-top: 5vw;
    }

    #section2 .text {
        width: 85%;
        padding: 3vw 0;
    }

}


/*<!--section3------------------------------------->*/


#section3 {
    width: 100%;
    overflow: hidden;
    margin: 50px auto;
    background-image: url(../images/dashline_t.png);
    background-repeat: no-repeat;
    background-position: bottom center;

}

#section3 .center {
    width: 68.75%;
    margin: 0 auto;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
}

#section3 .text {
    width: 100%;
    color: #003170;
    text-align: center;
    padding: 0 0 100px;

}

#section3 .text b:nth-child(1) {
    font-family: 'Segoe UI';
    font-style: italic;
    font-size: 41px;
    background-color: #003170;
    border-radius: 50px;
    width: 102px;
    height: 102px;
    display: inline-block;
    text-align: center;
    line-height: 90px;
    border: 1px solid #fff;
    color: #fff;
}

#section3 .text b:nth-child(2) {
    font-size: 45px;
    font-family: 'Segoe UI';
    font-weight: 500;
    padding: 0 10px;
}





#section3 .image_box {
    text-align: center;
}




#section3 .life_list {
    width: 50%;
    margin: 0 right;
    overflow: hidden;
    font-size: 17px;
    padding: 30px 0 220px;

}


#section3 .life_list li {
    padding-top: 1vw;
    width: 70%
}

#section3 .life_list li:nth-child(1) {
    padding: 30px 0 30px 30%;
}

#section3 .life_list li:nth-child(2) {
    padding: 30px 0 30px 17.5%;
}

#section3 .life_list li:nth-child(3) {
    padding: 30px 0 30px 5%;
}

#section3 .life_list h4 {
    font-weight: 400;
    font-size: 20px;
    font-family: 'Noto Sans KR', sans-serif;
    font-style: normal;
    display: inline-block;
    padding-left: 5px;
    padding-bottom: 20px;
}

#section3 .life_list .italic {
    display: inline-block;
    border-radius: 15px;
    font-size: 24px;
    padding: 2px 15px 5px;
}

#section3 .life_list li:nth-child(1) .italic {
    background-color: #FF9F00;
    padding: 2px 20px 5px;
}

#section3 .life_list li:nth-child(2) .italic {
    background-color: #299159;
}

#section3 .life_list li:nth-child(3) .italic {
    background-color: #E82425;
}






@media (max-width:1600px) {
    #section3 .center {
        width: 90%;
    }
}



@media (max-width:1200px) {
    #section3 .center {
        flex-wrap: wrap;
        justify-content: center;
    }

    #section3 .se3_left {
        width: 100%;
    }

    #section3 .life_list {
        width: 75%;
        padding: 30px 0 150px;}

    #section3 .life_list li:nth-child(1) {
        padding: 30px 0 30px 30%;
    }

    #section3 .life_list li:nth-child(2) {
        padding: 30px 0 30px 17.5%;
    }

    #section3 .life_list li:nth-child(3) {
        padding: 30px 0 30px 5%;
    }


    #section3 .text b:nth-child(1) {
        font-size: 35px;
        width: 90px;
        height: 90px;
        line-height: 85px;

    }

    #section3 .text b:nth-child(2) {
        font-size: 38px;
    }

    #section3 .text {padding: 0 0 60px;} }



@media (max-width:800px) {

    #section3 .life_list li {
        padding-top: 45px;
        margin: 0 auto;
        width: 95%;
    }

    #section3 .image_box img {
        width: 90%;
    }

    #section3 .life_list li:nth-child(1) {
        padding: 5vw 0;
    }

    #section3 .life_list li:nth-child(2) {
        padding: 5vw 0;
    }

    #section3 .life_list li:nth-child(3) {
        padding: 5vw 0;
    }
    #section3 .text {padding: 0 0 40px;} }

@media (max-width:600px) {#section3 .life_list .italic {margin-right: 30px; margin-bottom: 10px;}

}


/*<!--section4------------------------->*/

#section4 {
    width: 100%;
    margin: 200px 0;
}

#section4 .center {
    width: 68.75%;
    margin: 0px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    position: relative;
}


#section4 .center .banner1 {
    width: 41.6%;
    padding-bottom: 1.2vw;
}

#section4 .center .banner2 {
    width: 56.81%;
}

#section4 .center .banner3 {
    width: 56.81%;
}

#section4 .center .banner4 {
    width: 41.6%;
}


#section4 .center {
    width: 68.75%;
    margin: 0 auto;
}

#section4 .center img {
    display: block;
    width: 100%;
}

#section4 video {
    display: block;
    width: 100%;
}

.se_4text1 {
    position: absolute;
    top: 55px;
    left: -100px;
    z-index: 10;
    rotate: -90deg;
    font-size: 20px;
}

.se_4text3 {
    position: absolute;
    bottom: -40px;
    left: 0;
    z-index: 10;
    font-size: 20px;
}

.se_4text4 {
    position: absolute;
    bottom: 70px;
    right: -100px;
    z-index: 10;
    rotate: -90deg;
    font-size: 20px;
}


.bn_mo {display: none;}


@media (max-width:1600px) {#section4 .center {
    width: 90%;
}}


@media (max-width:1200px) {
    #section4 {margin: 150px 0;
    }
    
}

@media (max-width:800px) {

    #section4 {
        margin: 100px 0 0px;
    }

    #section4 .center {
        width: 100%;
        justify-content: center;
    }

    #section4 .center .banner1 {
        width: 100%;
        padding-bottom: 0;
        display: none;
    }
    
    #section4 .center .banner2 {
        width: 100%;
        display: none;
    }
    
    #section4 .center .banner3 {
        width: 100%;
        display: none;
    }
    
    #section4 .center .banner4 {
        width: 100%;
        display: none;
    }

    .se_4text1,.se_4text3,.se_4text4 {display: none;}

    .bn_mo {display: block; width: 100%;}
}




/*main_se5_.slider----------------------------------------------------------------*/
.slider {
    width: 100%;
    margin: 100px auto;
}


.slick-slide {
    margin: 0px 20px;
}

.gallery {
    width: 100%;
    height: 200px;
    margin: 0 1%;
    text-align: center;
    border-radius: 150px;
    padding: 20px 0 10px;
    margin: 0 auto;
}

.gallery img {
    width: 200px;
    display: inline-block;
    margin: 0 auto;
}


.slick-prev:before,
.slick-next:before {
    color: black;
}


.slick-slide {
    transition: all ease-in-out .3s;
    opacity: 1;
}

.slick-active {
    opacity: 1;
}

.slick-current {
    opacity: 1;
}




/*<!--footer-------------------------->*/

#footer {
    width: 68.75%;
    margin: 0 auto;
    height: 300px;

}

#footer h1 {
    padding-top: 50px;
}

#footer ul {
    float: left;
    font-size: 13px;
    font-weight: 400;
    color: #616161;
}

#footer ul li {
    float: left;
    padding: 40px 3vw 0 0;
}

#footer .image_box {
    float: right;
    padding-right: 30px;
}

#footer ul li b {
    font-weight: 900;
}

#footer ul li .copy {
    padding: 25px 0 70px;
}


.copy2 {
    display: none;
}

@media (max-width:1600px) {
    #footer {
        width: 90%;
    }
}


@media (max-width:1200px) {
    #footer .image_box {
        display: none;
    }
}

@media (max-width:800px) {
    #footer ul li {
        width: 100%;
        padding: 20px 3vw 0 0;
    }

    .copy1 {
        display: none;
    }

    .copy2 {
        display: block;
    }
    #footer {padding-bottom: 150px;
    }
    #footer h1 {
        padding-top: 40px;
    }
}

@media (max-width:400px) {}



/*sub1 .slider----------------------------------------------------------------*/
.slider {
    width: 100%;
    margin: 100px auto;
}


.slick-slide {
  margin: 0px 20px;
}

    .gallery{
        width: 200px; height: 200px;
        margin:0 1%;
        text-align:center;
        border-radius:150px;
  padding: 20px 0 10px;
  margin: 0 auto;}
    
    .gallery img{
        width: auto;
        display:inline-block;
        margin: 0 auto;
        }


.slick-prev:before,
.slick-next:before {
  color: black;
}


.slick-slide {
  transition: all ease-in-out .3s;
  opacity: 1;
}

.slick-active {
  opacity: 1;
}

.slick-current {
  opacity: 1;
}


.brand_section1 {width: 100%; position: relative; margin: 0 auto;}
.back_bg {position: absolute; top:10%; left: 50%; width: 120px; height: 120px; z-index: -1; margin-left: -60px; border-radius: 50%; animation: bgcolor 8s 1s infinite; background-color: #FF9F00;}


@keyframes bgcolor {
  0% {background-color: #FF9F00;}
  25% {background-color: #0056C5;}
  50% {background-color: #299159;}
  75% {background-color: #E82425;}
  100% {background-color: #FF9F00;}
}


.main_vd1920>img {width: 100%; display: block;}






/*__________________________________수정___________*/


