@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&family=Yeon+Sung&display=swap');

@font-face {
    font-family: 'ONE-Mobile-Title';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/ONE-Mobile-Title.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ONE-Mobile-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/ONE-Mobile-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'InkLipquid';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/InkLipquid.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}





* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 18px;
    color: #303030;
    font-weight: 300;
    min-width: 1400px;
}

ol,
ul {
    list-style: none;
}

a {
    color: #303030;
    text-decoration: none;
}




/*<!--header---------------------------------------------->*/

#header {
    width: 1310px;
    height: 80px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.logo {
    width: 15%;
    text-align: left;
    margin-top: 15px;
}

.logo_mo {
    display: none;
    margin-top: 15px;
}

.pc_gnb {
    padding-top: 30px;
}

.pc_gnb li {
    float: left;
}
.pc_gnb li a {
    display: block;
    padding: 2px 15px;
}

.log_cart {margin-top: -2px;}

.pc_gnb>li>a {
    margin: 0 2vw;
    font-family: 'ONE-Mobile-Title';
    font-size: 17px;
}
.pc_gnb>li>a:hover {
    color: #194597;
}







/*mo_menu---------------------------------------*/

.menu_btn {
    text-align: right;
    padding: 20px 10px 10px 10px;
    display: none;
}

.menu_bg {
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.493);
    position: absolute;
    top: 0;
    display: none;
    z-index: 15;
    position: fixed;
}

.sidebar_menu {
    display: none;
    width: 70%;
    height: 100%;
    background-color: #003170;
    position: absolute;
    top: 0;
    right: -100%;
    z-index: 20;
    position: fixed;

}

.close_btn {
    width: 24px;
    height: 24px;
    margin: 20px;
    float: right;
}

.close_btn>a {
    display: block;
    width: 100%;
    height: 100%;
}

.menu_wrap {
    list-style: none;
    padding: 100px 50px 20px;
}

.menu_wrap li a {
    display: inline-block;
    color: #fff;
    text-decoration: none;
    padding: 20px 0;
}



/*section 공통*/
.suj {
    font-size: 48px;
    line-height: 60px;
    font-weight: 900;
    color: #303030;
    padding: 0 0 10 0px;
}


.italic {
    font-family: 'Segoe UI';
    font-size: 28px;
    font-weight: 700;
    color: #303030;
    font-style: italic;
    padding: 10px 0;
}

.ink {
    font-family: 'InkLipquid';
    font-size: 32px;
    padding: 10px 0;
}

.bt {
    font-weight: 400;
    font-size: 16px;
}

.height10 {
    height: 10px;
}

.w400 {
    font-weight: 400;
}





/*<!--main----------------------------------------------->*/



/*메인슬라이드*/
.swiper {
			width: 100%;
			height: 600px;
		}

		.swiper-slide {
			text-align: center;
			font-size: 18px;
			background: #fff;

			/* Center slide text vertically */
			display: -webkit-box;
			display: -ms-flexbox;
			display: -webkit-flex;
			display: flex;
			-webkit-box-pack: center;
			-ms-flex-pack: center;
			-webkit-justify-content: center;
			justify-content: center;
			-webkit-box-align: center;
			-ms-flex-align: center;
			-webkit-align-items: center;
			align-items: center;
		}

		.swiper-slide img {
			display: block;
			width: 100%;
			height: 100%;
			object-fit: cover;
		}

		.swiper {
			margin-left: auto;
			margin-right: auto;
		}

		.banner1 {
			background-image: url(../images/sub2/bn1.png);
            background-position: center; background-repeat: no-repeat;
		}

		.banner2 {
			background-image: url(../images/sub2/bn2.png);
            background-position: center; background-repeat: no-repeat;
		}

		.banner3 {
			background-image: url(../images/sub2/bn3.png);
            background-position: center; background-repeat: no-repeat;
		}

		.banner4 {
			background-image: url(../images/sub2/bn4.png);
            background-position: center; background-repeat: no-repeat;
		}






/*<!--section1---------------------------------------------------------->*/


#section1 {
    width: 68.75%;
    margin: 0 auto;
    position: relative; 

}

#section1 form {
    width: 450px;
    margin: 90px auto 30px;
    border-bottom: 1px solid #003170;
}

#section1 form img {
    display: inline-block;
}

#section1 form input {
    border: none;
    font-size: 20px;
    font-weight: 700;
    width: 400px;

    outline: none;
}


#section1 .shop_menu {display: flex; margin: 0 auto; width: 320px; justify-content: space-between;}

#section1 .shop_menu>li>a {display: block; color: #fff; font-size: 16px; background-color: #003170; width: 50px; height: 50px; border-radius: 50%; line-height: 46px; text-align: center; font-weight: 400;} 

#section1 .shop_menu>li:nth-child(1) a {background-color:#E82425;}
#section1 .shop_menu>li:nth-child(2) a {background-color:#299159;}

#section1 .shop_menu li:hover .sub_wrap {display: block; display: inline-block;}

#section1 .shop_menu .sub_wrap {display: none; position: absolute; z-index: 10; top: 120px; left: 50%; width: 500px; padding: 40px 30px 30px 30px; box-sizing: border-box; overflow: hidden; margin-left: -250px;}


#section1 .shop_menu .sub_wrap .sub_shop {display: flex; justify-content: space-between; font-size: 16px;}





/*<!--section2--------------------------------------->*/


#section2 {width: 1320px; margin: 150px auto 100px; overflow: hidden;}

.section .shop_list {display: flex; flex-wrap: wrap; justify-content: space-between;}


.section .shop_list>li {width: 300px; height: 385px; box-sizing: border-box;}

.section .shop_list .img_box {width: 300px; height: 280px;}
.section .shop_list .img_box img {width: 100%; display: block;}

.section .text_box {display: flex; padding-top: 10px;}
.section .text_box .colortag {width: 100px;  display: flex; flex-wrap: wrap; padding-top: 5px;}
.section .text_box .info {font-size: 18px;}
.section .text_box .info li {width: 200px; text-align: right;}

.section .tag {font-size: 11px; width: 50px; height: 17px; text-align: center; color: #fff; }

.section .best {background-color: #E82425;}
.section .made {background-color:#299159}

.care {text-align: right; padding-top: 50px;}
.eat {padding-top: 50px;}









/*<!--section3------------------------------------->*/

#section3 {width: 100%; background-color: #F9F9F9; padding: 100px 0;}
#section3 .center {width: 1320px; margin: 0 auto;}

/*<!--footer-------------------------->*/

/*<!--footer-------------------------->*/

#footer {
    width: 1320px;
    margin: 0 auto;
    height: 300px;

}

#footer h1 {
    padding-top: 50px;
}

#footer ul {
    float: left;
    font-size: 13px;
    font-weight: 400;
    color: #616161;
}

#footer ul li {
    float: left;
    padding: 40px 57px 0 0;
}

#footer .image_box {
    float: right;
    padding-right: 30px;
}

#footer ul li b {
    font-weight: 500;
}

#footer ul li .copy {
    padding: 25px 0 70px;
}


.copy2 {
    display: none;
}




